---
import Layout from './Layout.astro'

interface Props {
  title: string
  tags: string[]
  readingTime: string
  publishedTime: string
}
const { title, tags, readingTime, publishedTime } = Astro.props
---

<Layout title={`Xat - ${title}`}>
  <h2 class="font-black text-4xl leading-loose bg-clip-text dark:text-transparent bg-gradient-to-r from-fuchsia-600 via-orange-600 to-pink-600">{title}</h2>
  <div class="flex gap-6 items-center text-slate-500 text-sm">
  <div class="flex gap-2 items-center">
    <span class="i-mingcute-tag-line"></span>
    {tags.map(tag => (<span>{tag}</span>
    ))}
  </div>
  <div class="flex gap-2 items-center">
    <span class="i-mingcute-time-line"></span>
    <span>{readingTime}</span>
  </div>
  <div class="flex gap-2 items-center">
    <span class="i-mingcute-quill-pen-line"></span>
    <span>{publishedTime}</span>
  </div>
  </div>
  <article class='prose max-w-none dark:prose-invert'>
  <slot />
  </article>
</Layout>
